body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  height: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: black;
  opacity: 50%;
}
.logo {
  background-image: url(../images/Icon.svg);
  margin: 50px;
  padding: 0 60px 10px 60px;
  background-repeat: no-repeat;
  z-index: 1;
  top: 0;
  left: 0;
}
.logo-title {
  color: #ff0000;
  font-size: 35px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo-title span {
  color: #fff;
  font-size: 35px;
}

.page-nav-list {
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: inherit;
}

a {
  margin: 0 10px;
  color: white;
  font-size: 16px;
  padding: 40px;
}

.background-image {
  background-image: url(../images/Image.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.banner {
}
.banner-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: white;
  text-transform: uppercase;
}

.banner-text {
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.banner-button a {
  border-radius: 50%;
}

.banner-button-first {
  color: white;
  background-color: red;
}
.banner-button-second {
  color: red;
  background-color: white;
}
