body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  height: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1371px;
}
.logo {
  background-image: url(../images/Icon.svg);
  width: 31px;
  padding: 0 35px 10px 35px;
  background-repeat: no-repeat;
}
h1 {
  color: #ff0000;
  font-size: 35px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

span {
  color: #fff;
  font-size: 35px;
}

ul {
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: inherit;
}

a {
  margin: 0 10px;
  color: white;
  font-size: 16px;
  padding: 40px;
}
